@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans&family=Shantell+Sans&display=swap");

* {
  box-sizing: border-box !important;
}

html,
body,
#root,
.app {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  font-family: "Inter", sans-serif;
  background-color: #111;
}

body:hover #cursor {
  opacity: 1;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #1e1e1e;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #18d944;
}

/* Handle on Hover */
::-webkit-scrollbar-thumb:hover {
  background: #14a637;
}

.text-reset {
  margin: 0;
  padding: 0;
  color: inherit;
  text-decoration: none;
}
